<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5F9EA0;">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/">My Test Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-nav" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="{% url 'about' %}">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="https://www.linkedin.com/in/stepan-koliesnichenko-7711b1187/">LinkedIn</a>
              </li>
              <div class="navbar-nav">
                  <form action="{% url 'home' %}" method="get" class="d-flex" >
                <input class="form-control" type="search" name="q" placeholder="Search me completely" aria-label="Search">
                <button class="btn btn-outline-dark mx-1" type="submit">Click!</button>
              </form></div>
          </div>
        </div>
      </nav>
</header>
