{% extends 'news/base.html' %}
{% load static %}


{% block content %}

<main class="container">  
    <div class="row g-5">
      <div class="col-md-8">
        <section>
          {% if one.image %}
              <img class="pt-5 pb-2" src="{{one.image.url}}" alt="{{one.title}}" width="600" height="400"/>
         {% else %}
              <img src="{% static 'media/symbol.jpg' %}" alt="question symbol" width="600" height="400">
         {% endif %}
          
      <!-- <img src="camille.jpg" alt="the pump bottle wtith tulips and towel"> -->
        </section>
        <article class="blog-post">
          <h2 class="blog-post-title">{{one.title}}</h2>
          <p class="blog-post-meta">{{one.created}} <br>Author: <a href="#">{{one.user}}</a></p>
  
          <p>{{one.text_min}}</p>
          <hr>
          <p>{{one.text}}</p>
        </article>
      </div>
      <!-- <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
          </div>
        </div>
      </div> -->
    </div>

  </main>

{% endblock %}